{% extends "base.html" %}

{% block conteudo %}

<h1 class="titulo-pagina mb-0" style="color: #007E83; font-weight: 700; letter-spacing: 1px; text-align: center;">
    Cadastro de Funcionário
</h1>

<div class="card-body p-4">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="alert-container mb-4">
        {% for category, message in messages %}
        {# Se a categoria for 'erro', fica vermelho. Se for 'success', fica verde #}
        {% set classe_cor = 'danger' if category == 'erro' else 'success' %}
        <div class="alert alert-{{ classe_cor }} alert-dismissible fade show fw-bold text-dark" role="alert"
            style="border-left: 5px solid;">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <!-- form para cadastrar e salvar um funcionário -->
    <form action="{{ url_for('api_funcionario', funcionario_id=0) }}" method="POST">

        <!-- ETAPA 1: inpust de acordo com os campos do banco -->
        <div class="step active">
            <div class="card-header"
                style="background-color: #007E83; padding: 10px; color:#ffffff; font-weight: bold;">
                <i class="bi bi-plus-circle me-2 --primary-color"></i> NOVO CADASTRO
            </div>

            <div class="card p-3 mb-4">

                <label class="form-label">Nome Completo</label>
                <input type="text" name="nome" class="form-control bg-light" required>

                <label class="form-label">Email</label>
                <input type="email" name="e_mail" class="form-control bg-light" required>

                <label class="form-label">CPF</label>
                <input type="text" name="CPF" class="form-control bg-light" required>

                <label class="form-label">Telefone</label>
                <input type="text" name="telefone" class="form-control bg-light" required>

                <label class="form-label">Data de Nascimento</label>
                <input type="date" name="data_nascimento" class="form-control bg-light" required>
            </div>

            <div class="card p-3 mb-4">
                <h5 class="card-title" style="color: #007E83;">Dados Profissionais</h5>

                <label>Cargo</label>
                <input type="text" name="cargo" class="form-control bg-light" required>

                <label>Setor</label>
                <select name="setor" class="form-select bg-light" required>
                    <option value="Estoque">Estoque</option>
                    <option value="Farmácia">Farmácia</option>
                    <option value="Logística">Logística</option>
                    <option value="Administração">Administração</option>
                </select>

                <label>Data de Admissão</label>
                <input type="date" name="data_admissao" class="form-control bg-light">

                <label>Turno</label>
                <select name="turno" class="form-select bg-light" required>
                    <option value="Manhã">Manhã</option>
                    <option value="Tarde">Tarde</option>
                    <option value="Noite">Noite</option>
                </select>

                <label>Salário (R$)</label>
                <input type="number" step="0.01" name="salario" class="form-control bg-light">
            </div>


            <div class="card p-3 mb-4">
                <h5 class="card-title" style="color: #007E83;">Acesso ao Sistema</h5>

                <label>Usuário</label>
                <input type="text" name="usuario" class="form-control bg-light">

                <label>Senha</label>
                <input type="password" name="senha" class="form-control bg-light">
            </div>

            <div class="d-flex justify-content-between">
                <button type="reset" class="btn btn-outline-danger px-4 rounded-pill shadow-sm fw-bold">
                    <i class="bi bi-eraser"></i> Cancelar
                </button> <!-- limpa os campos -->
                <button type="submit" class="btn btn-outline-success px-5 rounded-pill shadow-sm fw-bold">
                    <i class="bi bi-check-lg me-2"></i>Finalizar Cadastro
                </button> <!-- leva ate a validação e retorna com o cadastro concluído -->
            </div>
        </div>

    </form>

    <script>
        let currentStep = 0;
        const steps = document.querySelectorAll(".step");

        function showStep(index) {
            steps.forEach((step, i) => {
                step.classList.remove("active");
                step.style.display = (i === index) ? "block" : "none";
            });
        }

        function nextStep() {
            if (currentStep < steps.length - 1) {
                currentStep++;
                showStep(currentStep);
            }
        }

        function prevStep() {
            if (currentStep > 0) {
                currentStep--;
                showStep(currentStep);
            }
        }

        showStep(0);
    </script>

    {% endblock %}