{% extends 'base.html' %}
{% block conteudo %}

<style>
    body {
        background: #cdccccc0 !important;
        color: #ffffff !important;
    }
</style>

<div class="container py-5 dark">
    <h2 class="main-title mb-4" style="color: #007E83; font-weight: 700; letter-spacing: 1px;"> Nova Saída de Pedido
    </h2>

    <form action="/salvar_movimentacao_saida" method="POST">

        <!-- item_pedido_saida (Itens da Saída) -->
        <div class="card mb-4 p-4 shadow-sm">
            <h6 class="text-muted mb-3">Itens da Saída </h6>

            <!-- Formulário inferior para adicionar itens temporários à tabela -->
            <div class="row g-2 align-items-end mt-3">
                <div class="col-md">
                    <label class="form-label text-muted small">Selecione o Medicamento</label>
                    <select id="select-medicamento" class="form-select">
                        <option value="">Selecione...</option>
                        {% for p in produtos %}
                        <!-- apenas produto cadastrados podem estar nesse campo -->
                        <option value="{{ p.produto_id or p.id }}">{{ p.nome }} (Estoque: {{ p.quantidade }})
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md">
                    <label class="form-label text-muted small">Qtd:</label>
                    <input type="number" id="input-quantidade" class="form-control bg-light" min="1">
                </div>
                <div class="col-md">
                    <label class="form-label text-muted small">Preço Venda:</label>
                    <input type="number" id="input-preco_venda" class="form-control bg-light" step="0.01">
                </div>
            </div>
        </div>

        <!-- pedido_saida (Cabeçalho) -->
        <div class="card mb-4 p-4 shadow-sm">
            <h6 class="text-muted mb-3">Pedido Saída</h6>
            <div class="row g-3">
                <div class="col-md-4 label-pedido">
                    <label class="form-label">Cliente / Destinatário:</label>
                    <select name="cliente_id" class="form-select bg-light" required>
                        <option value="">Selecione o Cliente...</option>
                        {% for c in cliente %}
                        <!-- apenas clientes cadastrdos podem estar nesse campo -->
                        <option value="{{ c.cliente_id or c.id }}">{{ c.nome }}</option>
                        {% endfor %}
                        <option value="descarte">Descarte</option>
                    </select>
                </div>
                <div class="col-md-4 label-pedido">
                    <label class="form-label">Data de Saída:</label>
                    <input type="date" name="data" class="form-control bg-light" required>
                </div>
                <div class="col-md-4 label-pedido">
                    <label class="form-label">Status da Saída:</label>
                    <select name="status_pedido" class="form-select">
                        <option value="Pendente">Pendente</option>
                        <option value="Finalizado">Finalizado / Dispensado</option>
                    </select>
                </div>
                <div class="col-md-6 label-pedido">
                    <label class="form-label">Descrição / Motivo da Saída:</label>
                    <textarea name="descricao" class="form-control bg-light" rows="2"
                        placeholder="Ex:  baixa por vencimento..."></textarea>
                </div>



                <div class="col-md-4">
                    <label class="form-label">Lote:</label>
                    <input type=" text" step="1,00000" name="lote" class="form-control bg-light"
                        value="{{ produto.lote if produto else '' }}" required>
                </div>

                <div class="col-md-3">
                    <label class="form-label">Funcionário Responsável:</label>
                    <select name="funcionario_id" class="form-select bg-light" required>
                        <option value="">Selecione o Funcionário...</option>
                        {% for func in funcionarios %}
                        <!-- busca o funcionário logado no site e retorn o nome no campos 'responsável' -->
                        <option value="{{ func.id or func.funcionario_id }}">{{ func.nome }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-md-6">
                    <label class="form-label text-muted small">Código RFID:</label>
                    <input type="text" name="rfid" id="input-rfid" class="form-control bg-light" required
                        placeholder="Aproxime a tag ou digite">
                </div>
            </div>
        </div>

        <!-- Formulário do local -->
        <div class="card mb-4 p-4 shadow-sm">
            <h6 class="text-muted mb-3">Destino final</h6>

            <div class="row g-2 align-items-end mt-3">
                <div class="col-md-3">
                    <label class="form-label text-muted small">CEP:</label>
                    <input type="number" name="cep" class="form-control bg-light" required placeholder="escreva aqui">
                </div>
                <div class="col-md-3">
                    <label class="form-label text-muted small">Número do endereço:</label>
                    <input type="number" name="numero" class="form-control bg-light" required step="1"
                        placeholder="Ex: 3">
                </div>
                <div class="col-md-3">
                    <label class="form-label text-muted small">cidade:</label>
                    <input type="text" name="cidade" class="form-control bg-light" required
                        placeholder="Escreva aqui...">
                </div>
                <div class="col-md-3">
                    <label class="form-label text-muted small">Bairro:</label>
                    <input type="text" name="bairro" class="form-control bg-light" required
                        placeholder="Escreva aqui...">
                </div>
            </div>
        </div>



        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Ações</th>
                        <th>ID Item</th>
                        <th>Status</th>
                        <th>Quantidade</th>
                        <th>Preço Venda Unit.</th>
                        <th>Total Item</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pedido in pedido_saida %}
                    <tr>
                        <td>
                            <button type="button" class="btn btn-sm btn-primary"><i class="bi bi-pencil"></i></button>
                            <button type="button" class="btn btn-sm btn-danger"><i class="bi bi-trash"></i></button>
                        </td>
                        <td>{{ pedido.pedido_id or pedido.id }}</td>
                        <td><span class="badge bg-warning">{{ pedido.status_pedido }}</span></td>
                        <td>{{ pedido.quantidade }}</td>
                        <td>R$ {{ pedido.preco_venda }}</td>
                        <td>R$ {{ (pedido.quantidade * pedido.preco_venda)|round(2) }}</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="6" class="text-center text-muted py-3">Nenhum medicamento adicionado a esta
                            saída.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>


            <!-- Botões de Ação Inferiores -->
            <div class="text-end">
                <a href="{{ url_for('menu_pedidos') }}"
                    class="btn btn-outline-danger me-2 rounded-pill fw-bold shadow-sm">Cancelar</a>
                <button type="button" class="btn btn-outline-secondary me-2 rounded-pill fw-bold shadow-sm">Salvar
                    Rascunho</button>
                <button type="submit" class="btn btn-success px-4 rounded-pill fw-bold shadow-sm">Finalizar
                    Saída</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}